* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 92%;
  max-width: 1350px;
  height: 78px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 45px;
  z-index: 1000;

  background: rgba(10, 10, 10, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-radius: 22px;

  box-shadow:
    0 10px 40px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.04);
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo span {
  color: #00bfff;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);

  font-size: 16px;
  font-weight: 500;

  transition: 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -8px;

  width: 0%;
  height: 2px;

  background: #00bfff;
  border-radius: 20px;

  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #fff;
}

.nav-links a:hover::after {
  width: 100%;
}

.resume-btn {
  border: none;
  cursor: pointer;

  padding: 13px 28px;
  border-radius: 14px;

  font-size: 15px;
  font-weight: 600;
  color: white;

  background: linear-gradient(
    135deg,
    #00bfff,
    #2563eb
  );

  transition: 0.35s ease;

  box-shadow: 0 8px 25px rgba(0, 191, 255, 0.25);
}

.resume-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 35px rgba(0, 191, 255, 0.4);
}
@media (max-width: 768px) {
  .nav-links {
    display: none; /* hides menu on mobile */
  }

  .navbar {
    padding: 0 20px;
    height: 70px;
  }

  .logo {
    font-size: 22px;
  }

  .resume-btn {
    padding: 10px 16px;
    font-size: 13px;
  }
}
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 80px;
    right: 20px;

    flex-direction: column;
    background: rgba(10,10,10,0.9);

    padding: 20px;
    border-radius: 15px;

    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}