.projects {
  padding: 120px 8%;
  color: white;
}

.projects-header {
  text-align: center;
  max-width: 850px;
  margin: auto;
}

.projects-header h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.projects-text {
  color: #94a3b8;
  line-height: 1.8;
  font-size: 18px;
}

.projects-grid {
  margin-top: 70px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 30px;
}

.project-card {
  padding: 40px;

  border-radius: 30px;

  background: rgba(255,255,255,0.05);

  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(20px);

  transition: all 0.4s ease;
}

.project-card:hover {
  transform: translateY(-10px);

  border: 1px solid rgba(56,189,248,0.6);

  box-shadow: 
    0 20px 40px rgba(56,189,248,0.15);
}

.project-label {
  color: #38bdf8;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.project-card p {
  color: #94a3b8;
  line-height: 1.8;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  margin-top: 25px;
}

.tech-stack span {
  padding: 10px 16px;

  border-radius: 12px;

  background:
    rgba(255,255,255,0.08);
}

.project-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.project-buttons a {
  text-decoration: none;
  color: white;

  padding: 12px 20px;
  border-radius: 12px;

  background:
    rgba(255,255,255,0.08);

  transition: 0.3s ease;
}

.project-buttons a:hover {
  transform: translateY(-3px);
}
@media (max-width: 768px) {
  .about-cards,
  .skills-grid,
  .projects-grid,
  .contact-container {
    grid-template-columns: 1fr;
  }
}
